* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;

    width: 2000px;
    height: 2000px;
}

.part {
    display: flex;
    outline: 1px dotted red;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
}