$dark: #132c48;
$lite: #becedd;
$accent: #1d4572;
$bg: #f3f3f7;

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    // outline: 1px dotted red;
}

li {
    list-style: none;
}

body {
    height: 100vh;
    display: flex;
}

.nav {
    flex: 0 0 60px;
    background-color: $dark;

    &__list {
        font-size: 40px;
        text-align: center;
        color: $lite;
    }
    &__item {
        cursor: pointer;
        margin-top: 50px;


        &:hover {
            background-color: $accent;
        }
    }
}

.content {
    flex: 1 1 auto;
    & .page {
        display: none;
        height: 100vh;
        padding: 15px;
        background-color: $bg;

        &_active {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .demo-container {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            .slider-container {
                width: 320px;
                height: 320px;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            .output {
                flex: 0 1 150px;
                font-size: 1em;
                
                &__handle {
                    &:not(:first-child) {
                        margin: 10px 0;
                    }

                    &.handle {
                        border: 1px dashed $lite;
                        border-radius: 4px;
                        padding: 7px;
                        display: flex;
                        
                        .handle__name {
                            font-weight: 700;
                            margin-right: 5px;
                        }
                    }
                }
            }

            .config {
                outline: 1px dotted red;

                flex: 1 0 auto;
            }
        }
        .card {
            width: 100%;
            min-height: 320px;
            background-color: #fff;
            border-radius: 8px;
            border: 1px solid rgba(19, 44, 72, 0.1);
            padding: 7px;
        }
    }
}

