$dark: #132c48;
$lite: #becedd;
$accent: #1d4572;
$font-color: #4b4a4d;
$bg: #f3f3f7;

.demo-container,
.slider-container,
.output,
.config {
    outline: 1px dotted red;
}
* {
    font-family: 'Roboto', sans-serif;
    color: $font-color;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    // outline: 1px dotted red;
}

li {
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;

    &.show-overlay {
        overflow: hidden;

        .overlay {
            display: block;
        }
    }
    .overlay {
        display: none;
        position: fixed;
        inset: 0;
        background-color: rgba($color: black, $alpha: 0.75);
        z-index: 9000;
    }
}

.nav {
    flex: 0 0 60px;
    background-color: $dark;
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__item {
        cursor: pointer;
        margin-top: 50px;

        &:hover {
            background-color: $accent;
        }
    }

    i {
        color: $lite;
    }

    .config-btn {
        margin-bottom: 50px;
        cursor: pointer;
        display: none;
        
        &:hover {
            background-color: $accent;
        }

        @media  screen and (max-width: 926px) {
            display: unset;
            position: relative;
            z-index: 10000;
        }
    }
}

.content {
    flex: 1 1 auto;
    & .page {
        display: none;
        height: 100%;
        padding: 15px;
        background-color: $bg;
        position: relative;

        &_active {
            display: block;

            @media  screen and (max-width: 926px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        .demo-container {
            font-size: 0.8em;

            display: grid;
            grid-template-columns: 320px 1fr;
            grid-template-rows: 320px auto;
            grid-template-areas: 
                "slider config"
                "output config";
            gap: 10px;

            @media  screen and (max-width: 926px) {
                grid-template-columns: 1fr;
                grid-template-rows: 320px auto;
                grid-template-areas: 
                    "slider"
                    "output";
            }

            .slider-container {
                grid-area: slider;
                justify-self: center;
                align-self: center;
            }

            .output {
                grid-area: output;
                display: flex;
                align-content: flex-start;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
                
                .handle {
                    border: 1px dashed $lite;
                    border-radius: 4px;
                    padding: 7px;
                    display: flex;
                    
                    .handle__name {
                        font-weight: 700;
                        margin-right: 5px;
                    }
                }
            }

            .config {
                grid-area: config;

                @media  screen and (max-width: 926px) {
                    display: none;

                    border-radius: 6px;
                    padding-top: 20px;
                    background-color: #fff;
                    position: absolute;
                    overflow-y: scroll;
                    inset: 0;
                    max-width: 640px;
                    margin: 30px auto 0;
                    z-index: 10000;

                    &_mobile-show {
                        display: block;
                    }

                    @media screen and (max-width: 740px) {
                        margin: 0;
                        border-radius: 0;
                        max-width: 100%;
                    }
                }
            }
        }
        .card {
            width: 100%;
            background-color: #fff;
            border-radius: 8px;
            border: 1px solid rgba(19, 44, 72, 0.1);
            padding: 7px;
        }
    }
}



