$slider-main-axis: 500px;
$slider-second-axis: 250px;

$bar-color : #fff;
$bar-border-radius: 20px;
$bar-border-color: blue;
$bar-border-width: 70px;

$range-bg: yellow;

$handle-width: 100px;
$handle-height: 100px; 
$handle-border-radius: 50%;
$handle-border-color: black;
$handle-border-width: 10px;
$handle1-bg: rgba(1, 1, 1, 0.5);

$tag-bg-color: rgb(0, 255, 0);
$tag-color: rgb(0, 0, 0);

// helper Start
.slider::before, .slider::after {
    content: "";
    background-color: black;
    display: block;
    position: relative;
}

.slider::after {
    width: 1px;
    height: 100%;
    left: 50%;
    top: -100%;
}

.slider::before {
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
    z-index: 10000;
}
.slider .slider__handle:nth-child(1) {
    background-color: green !important;
    border-color: yellow;
}

.slider .slider__handle:nth-child(2) {
    background-color: blue !important;
    border-color: red;
}


.slider .slider__range:nth-child(1) {
    background: rgba(255, 0, 0, 0.7)
}

.slider .slider__range:nth-child(2) {
    background: rgba(9, 255, 0, 0.7)
}

.slider .slider__range:nth-child(3) {
    background: rgba(238, 255, 0, 0.7)
}
.slider__handle {
    color:rgb(195, 212, 195);
    font-size: 2rem;
}
//helper END

.slider {

    * {box-sizing: border-box;}
    &__bar {
        cursor: pointer;
        height: 100%;
        width: 100%;
        background-color: $bar-color;
        border-radius: $bar-border-radius;
        border: $bar-border-width solid $bar-border-color;
        position: relative;
    }
    &__range {
        background: $range-bg;
        border-radius: $bar-border-radius;
        position: absolute;
    }
    &__handle {
        cursor: pointer;
        border: $handle-border-width solid $handle-border-color;
        border-radius: $handle-border-radius;
        position: absolute;
        background-color: $handle1-bg;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__tag-container {
        cursor: default;
        position: absolute;
        z-index: 10000;

        &.slider__tag-container_top {
            bottom: calc(100% + 20px);
            left: 50%;
            transform: translate(-50%, 0);
    
            .tag {
                &::after {
                    border-top-color: $tag-bg-color;        
                    top: 100%;
                    left: 50%;
                    transform: translate(-50%, 0);
                }            
            }
        }
        &.slider__tag-container_bottom {
            top: calc(100% + 20px);
            left: 50%;
            transform: translate(-50%, 0);
    
            .tag {
                &::after {
                    border-bottom-color: $tag-bg-color;        
                    bottom: 100%;
                    left: 50%;
                    transform: translate(-50%, 0);
                }            
            }
        }
        &.slider__tag-container_right {
            left: calc(100% + 20px);
            top: 50%;
            transform: translate(0, -50%);
    
            .tag {
                &::after {
                    border-right-color: $tag-bg-color;        
                    right: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                }            
            }
        }

        &.slider__tag-container_left {
            right: calc(100% + 20px);
            top: 50%;
            transform: translate(0, -50%);
    
            .tag {
                &::after {
                    border-left-color: $tag-bg-color;        
                    left: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                }            
            }
        }
        .tag {
            position: relative;

            &::after {
                position: absolute;
                content: '';
                border: 5px solid transparent;
            }
            
            &__value {
                height: 20px;
                width: max-content;
                padding: 0 8px;
                border-radius: 5px;
                background-color: $tag-bg-color;
                color: $tag-color;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 0px 14px 0px $tag-bg-color;
            }
        }
    }

    &.slider_h {
        width: $slider-main-axis;
        height: $slider-second-axis;

        .slider__range {
            height: $slider-second-axis;
            top: 50%;
            transform: translateY(-50%);
            
            //JS
            left: 0%;
            width: 60%;
        }
    
        .slider__handle {
            width: $handle-width;
            height: $handle-height;
            top: 50%;
            transform: translateY(-50%);

            //JS
            // left: 37.5%;
        }
    }
    &.slider_v {
        width: $slider-second-axis;
        height: $slider-main-axis;

        .slider__range {
            width: $slider-second-axis;
            left: 50%;
            transform: translateX(-50%);
            
            //JS
            top: 20%;
            height: 60%;
        }
    
        .slider__handle {
            width: $handle-width;
            height: $handle-height;
            left: 50%;
            transform: translateX(-50%);

            //JS
            top: 37.5%;
        }
    }
}

