$slider-main-axis: 500px;
$slider-second-axis: 250px;

$bar-color : #fff;
$bar-border-radius: 20px;
$bar-border-color: blue;
$bar-border-width: 50px;

$range-bg: yellow;

$handle-width: 100px;
$handle-height: 100px;
$handle-border-radius: 50%;
$handle-border-color: black;
$handle-border-width: 10px;
$handle1-bg: rgba(1, 1, 1, 0.5);

// helper
.slider__handle_a80 {
    background-color: rgba(255, 0, 0, 0.5) !important;
}
.slider::before, .slider::after {
    content: "";
    background-color: black;
    display: block;
    position: relative;
}

.slider::after {
    width: 1px;
    height: 100%;
    left: 50%;
    top: -100%;
}

.slider::before {
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
    z-index: 10000;
}
.slider {

    * {box-sizing: border-box;}
    &__bar {
        cursor: pointer;
        height: 100%;
        width: 100%;
        background-color: $bar-color;
        border-radius: $bar-border-radius;
        border: $bar-border-width solid $bar-border-color;
        position: relative;
    }
    &__range {
        background: $range-bg;
        border-radius: $bar-border-radius;
        position: absolute;
    }
    &__handle {
        cursor: pointer;
        border: $handle-border-width solid $handle-border-color;
        border-radius: $handle-border-radius;
        position: absolute;
        background-color: $handle1-bg;

    }
    &.slider_h {
        width: $slider-main-axis;
        height: $slider-second-axis;

        .slider__range {
            height: $slider-second-axis;
            top: 50%;
            transform: translateY(-50%);
            
            //JS
            left: 0%;
            width: 60%;
        }
    
        .slider__handle {
            width: $handle-width;
            height: $handle-height;
            top: 50%;
            transform: translateY(-50%);

            //JS
            left: 37.5%;
        }
    }
    &.slider_v {
        width: $slider-second-axis;
        height: $slider-main-axis;

        .slider__range {
            width: $slider-second-axis;
            left: 50%;
            transform: translateX(-50%);
            
            //JS
            top: 20%;
            height: 60%;
        }
    
        .slider__handle {
            width: $handle-width;
            height: $handle-height;
            left: 50%;
            transform: translateX(-50%);

            //JS
            top: 37.5%;
        }
    }
}

