$slider-main-axis: 268px;
$slider-second-axis: 8px;

$bar-color : rgba(255, 255, 255, 1);
$bar-border-radius: 3px;
$bar-border-color: rgba(31, 32, 65, 0.25);
$bar-border-width: 1px;

$progressBar-bg: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);;

$handle-width: 16px;
$handle-height: 16px; 
$handle-border-radius: 50%;
$handle-border-color: #fff;
$handle-border-width: 2px;
$handle-bg: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);;

$tag-bg-color: rgb(56, 60, 68);
$tag-color: #fff;

.slider {

    * {box-sizing: border-box;}
    &__bar {
        cursor: pointer;
        height: 100%;
        width: 100%;
        background-color: $bar-color;
        border-radius: $bar-border-radius;
        border: $bar-border-width solid $bar-border-color;
        position: relative;
    }
    &__progressBar {
        background: $progressBar-bg;
        border-radius: $bar-border-radius;
        position: absolute;
    }
    &__handle {
        cursor: pointer;
        border: $handle-border-width solid $handle-border-color;
        border-radius: $handle-border-radius;
        position: absolute;
        background: $handle-bg;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__tag-container {
        cursor: default;
        position: absolute;
        z-index: 10000;

        &.slider__tag-container_top {
            bottom: calc(100% + 12px);
            left: 50%;
            transform: translate(-50%, 0);
    
            .tag {
                &::after {
                    border-top-color: $tag-bg-color;        
                    top: 100%;
                    left: 50%;
                    transform: translate(-50%, 0);
                }            
            }
        }
        &.slider__tag-container_bottom {
            top: calc(100% + 12px);
            left: 50%;
            transform: translate(-50%, 0);
    
            .tag {
                &::after {
                    border-bottom-color: $tag-bg-color;        
                    bottom: 100%;
                    left: 50%;
                    transform: translate(-50%, 0);
                }            
            }
        }
        &.slider__tag-container_right {
            left: calc(100% + 12px);
            top: 50%;
            transform: translate(0, -50%);
    
            .tag {
                &::after {
                    border-right-color: $tag-bg-color;        
                    right: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                }            
            }
        }

        &.slider__tag-container_left {
            right: calc(100% + 12px);
            top: 50%;
            transform: translate(0, -50%);
    
            .tag {
                &::after {
                    border-left-color: $tag-bg-color;        
                    left: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                }            
            }
        }
        .tag {
            position: relative;

            &::after {
                position: absolute;
                content: '';
                border: 5px solid transparent;
            }
            
            &__value {
                height: 20px;
                width: max-content;
                padding: 0 8px;
                border-radius: 5px;
                background-color: $tag-bg-color;
                color: $tag-color;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 0px 14px 0px $tag-bg-color;
            }
        }
    }

    &.slider_h {
        width: $slider-main-axis;
        height: $slider-second-axis;

        .slider__progressBar {
            height: $slider-second-axis;
            top: 50%;
            transform: translateY(-50%);
        }
    
        .slider__handle {
            width: $handle-width;
            height: $handle-height;
            top: 50%;
            transform: translateY(-50%);
            font-size: 8px;
        }
    }
    &.slider_v {
        width: $slider-second-axis;
        height: $slider-main-axis;

        .slider__progressBar {
            width: $slider-second-axis;
            left: 50%;
            transform: translateX(-50%);
        }
    
        .slider__handle {
            width: $handle-width;
            height: $handle-height;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

