.slider::before, .slider::after {
  content: "";
  background-color: black;
  display: block;
  position: relative;
}

.slider::after {
  width: 1px;
  height: 100%;
  left: 50%;
  top: -100%;
}

.slider::before {
  width: 100%;
  height: 1px;
  left: 0;
  top: 50%;
  z-index: 10000;
}

.slider .slider__handle:nth-child(1) {
  background-color: green !important;
  border-color: yellow;
}

.slider .slider__handle:nth-child(2) {
  background-color: blue !important;
  border-color: red;
}

.slider .slider__progressBar:nth-child(1) {
  background: rgba(255, 0, 0, 0.7);
}

.slider .slider__progressBar:nth-child(2) {
  background: rgba(9, 255, 0, 0.7);
}

.slider .slider__progressBar:nth-child(3) {
  background: rgba(238, 255, 0, 0.7);
}

.slider__handle {
  color: rgb(195, 212, 195);
  font-size: 2rem;
}

.slider * {
  box-sizing: border-box;
}
.slider__bar {
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  border: 70px solid blue;
  position: relative;
}
.slider__progressBar {
  background: yellow;
  border-radius: 20px;
  position: absolute;
}
.slider__handle {
  cursor: pointer;
  border: 10px solid black;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(1, 1, 1, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__tag-container {
  cursor: default;
  position: absolute;
  z-index: 10000;
}
.slider__tag-container.slider__tag-container_top {
  bottom: calc(100% + 20px);
  left: 50%;
  transform: translate(-50%, 0);
}
.slider__tag-container.slider__tag-container_top .tag::after {
  border-top-color: rgb(0, 255, 0);
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
.slider__tag-container.slider__tag-container_bottom {
  top: calc(100% + 20px);
  left: 50%;
  transform: translate(-50%, 0);
}
.slider__tag-container.slider__tag-container_bottom .tag::after {
  border-bottom-color: rgb(0, 255, 0);
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
.slider__tag-container.slider__tag-container_right {
  left: calc(100% + 20px);
  top: 50%;
  transform: translate(0, -50%);
}
.slider__tag-container.slider__tag-container_right .tag::after {
  border-right-color: rgb(0, 255, 0);
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.slider__tag-container.slider__tag-container_left {
  right: calc(100% + 20px);
  top: 50%;
  transform: translate(0, -50%);
}
.slider__tag-container.slider__tag-container_left .tag::after {
  border-left-color: rgb(0, 255, 0);
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.slider__tag-container .tag {
  position: relative;
}
.slider__tag-container .tag::after {
  position: absolute;
  content: "";
  border: 5px solid transparent;
}
.slider__tag-container .tag__value {
  height: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 8px;
  border-radius: 5px;
  background-color: rgb(0, 255, 0);
  color: rgb(0, 0, 0);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 14px 0px rgb(0, 255, 0);
}
.slider.slider_h {
  width: 500px;
  height: 250px;
}
.slider.slider_h .slider__progressBar {
  height: 250px;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
  width: 60%;
}
.slider.slider_h .slider__handle {
  width: 100px;
  height: 100px;
  top: 50%;
  transform: translateY(-50%);
}
.slider.slider_v {
  width: 250px;
  height: 500px;
}
.slider.slider_v .slider__progressBar {
  width: 250px;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  height: 60%;
}
.slider.slider_v .slider__handle {
  width: 100px;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
  top: 37.5%;
}/*# sourceMappingURL=slider.css.map */