$dark: #132c48;
$lite: #becedd;
$accent: #1d4572;
$font-color: #4b4a4d;
$bg: #f3f3f7;
$error-color: #D8000C;
$error-bg: #FFBABA;

.config {
    &__group {
        margin: 15px;
    }
    .group {
        min-height: 50px;
        padding: 15px 15px 7px;
        border: 1px dashed $lite;
        border-radius: 4px;
        position: relative;

        @media screen and (max-width: 550px) {
            padding: 7px;
        }

        &__name {
            position: absolute;
            left: 25px;
            top: -11px;
            background-color: #fff;
            padding: 0 5px;

            @media screen and (max-width: 550px) {
                position: relative;
                padding: 0;
                inset: 0;
                margin-bottom: 10px;
            }
        }
        .option {
            display: inline-block;
            margin: 5px;


        }

        .subgroup {
            padding: 10px 0;

            &_body {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            &_footer {
                border-top: 1px dashed $lite;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .subgroup__name {
                    flex: 100%;
                    margin-bottom: 5px;
                }
            }
        }
        input:not([type="radio"]), select {
            width: 100px;
        }
        .bi.bi-trash, .bi.bi-plus-square {
            cursor: pointer;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 20px;
        }
        &_error {
            display: none;
            background-color: $error-bg;
            padding: 7px;
            border-color: $error-color;

            @media screen and (max-width: 926px) {
                position: sticky;
                bottom: 0;
            }
            &.error_show {
                display: block;
            }
            .group__name {
                position: unset;
                left: 0;
                top: '';
            }

            .error__message {
                min-height: 10px;
                color: $error-color;
                white-space: break-spaces;
            }
        }
    }
}